.header-main{
    background-color: #fcb800;
}
.topbar{
    background-color: #2d2d2d;
}
#topbar{
    color: #fcfcfc;
}
#topbar a{
    color: #fcfcfc;
    text-decoration: none;
    padding-left: 2px;
}
.topbar-container{
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.icons{
    width: 35px;
    height: 35px;
}

.product-extras{
    list-style: none;
}

.product-extras li{
    display: inline;
    padding-left: 30px;
}

.header-row{
    display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
}
.header-extras{
    display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.search-content{
    display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.input-s{
    width: 800px;
    height: 40px;
}

.search-submit{
    background-color: black;
    color: #fcfcfc;
    width: 80px;
    height: 40px;
    border: none;
}
#component-container{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo{
    height: 70px;
    width: 260px;
}