.header-main{
    background-color: #fcb800;
}
.topbar{
    background-color: #2d2d2d;
}
#topbar{
    color: #fcfcfc;
}
#topbar a{
    color: #fcfcfc;
    text-decoration: none;
    padding-left: 2px;
}
#topbar p{
    display: inline-block;
    color: #fcfcfc;
    text-decoration: none;
    padding-left: 2px;
    padding: 0px;
    margin: 0px;
}
.topbar-container{
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.icons{
    width: 35px;
    height: 35px;
}

.product-extras{
    list-style: none;
    width: 100%;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0px;
    padding: 0px 50px;
}

.product-extras li{
    justify-content: end;
    padding-left: 20px;
    padding-right: 20px;
}
.product-extra-search{
    width: 100%;
}
.search-content{
    width: 100%;
}
.search-content-wrapper{
    width: 100%;
}
.search-wrapper{
    width: 100%;
}
/*ovde pocinje zuti header*/

.header-main{

}

.header-row{
    display: flex;
	align-items: center;
	justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    flex-wrap: wrap;
}
.header-logo{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.header-search{
    display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 10px 0px;
}
.header-icons{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

.search-content{
    display: flex;
    flex-wrap: nowrap;
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.input-s{
    width: 100%;
    height: 40px;
}

.search-submit{
    background-color: black;
    color: #fcfcfc;
    width: 80px;
    height: 40px;
    border: none;
}
#component-container{
    text-align: center;
    padding: 0px;
    width: 100%;
}

.logo{
    height: 70px;
    width: 260px;
}




@media(max-width: 1000px){
    .header-row{
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
    }
    .product-extras{
        padding: 0px;
    }
    .icons{
        width: 50px;
        height: 50px;
    }
    .logo{
        height: 90px;
        width: 320px;
    }
}
